[2014-12-18 19:31] lakshmi-kannan opened #63 "BUG: JIRA sensor registration errors"
https://github.com/StackStorm/st2contrib/blob/master/packs/jira/sensors/jira_sensor.yaml#L10

Right format is:
https://github.com/StackStorm/st2contrib/blob/master/packs/git/sensors/git_commit_sensor.yaml#L11

[2014-12-19 00:14] #63 closed, assigned to nobody

[2014-12-22 19:56] DoriftoShoes opened #72 "Slack messages fail to post"
Slack messages fail to post due to this line:
https://github.com/StackStorm/st2contrib/blob/master/packs/slack/actions/post_message.py#L16

Here is the error:
https://gist.github.com/DoriftoShoes/1ffc6b2f3f3e080e13c7

[2014-12-22 20:02] #72 closed, assigned to nobody

[2015-02-01 18:20] pdeva opened #115 "add pagerduty pack"
sorely missing :)

[2015-02-01 20:33] jfryman commented on #115
@pdeva Awesome! Thanks for the suggestion. We'll add this to our list of integrations in progress. :+1:

[2015-02-08 00:10] dzimine opened #125 "rename slack.post_message action to something sane"
`st2 action slack.post_message message="message"` come on. How about `say` or `post` ?

[2015-02-08 11:36] Kami commented on #125
Originally I called it `send_message`, but then I changed my mind and renamed it to `post_message` so it matches the API method name.

I can call it something else, but I find post_message quite explicit and good :)

[2015-02-09 13:29] jfryman commented on #125
Maybe we hold off on any major changes until we look at all the chat as an aggregate in our ChatOps sprint. May be a premature optimization.

[2015-02-11 11:25] Kami opened #127 "Add lint script for Python runner actions"
Add a lint scripts which performs the following checks:
- Validate that the arguments defined in the action `run` method match the ones defined in the action metadata file

[2015-02-18 18:01] jfryman commented on #115
Resolved by https://github.com/StackStorm/st2contrib/pull/123

[2015-02-18 18:01] #115 closed

[2015-02-18 18:22] Kami opened #131 "Fix jira.create_issue action"
Action is very out of date and broken.

It should be ported to python runner and fixed.

[2015-02-18 18:33] Kami opened #132 "JIRA pack needs to also support basic auth authentication"

[2015-04-02 19:54] ryandub opened #175 "Slack Sensor Instability"
The messages coming through Slack's RTM API seem to be quite varied and may or may not contain certain data. For example, #174 addresses some of the variations in profile data. However, I have also seen some quirkiness with `data` not containing a `channel` key as well (I haven't dug in to find what these messages are yet, but that's weird - maybe private groups?). Here's a stacktrace from such an

[2015-04-02 21:15] Kami commented on #175
Will look into it tomorrow, but in short, I also pushed a did for missing user and channel key in #173

[2015-04-03 12:53] Kami commented on #175
Alright - as noted above, my change in #173 fixes the deleted user / channel issue, but I also agree that wrapping handle_result in try / catch and (logging and) continuing on exception is an acceptable thing to do here.

In general, you want to propagate all the fatal exceptions and not swallow and quietly ignore them, but in this case is acceptable - invalid API key or some other fatal exception

[2015-04-03 12:54] Kami commented on #175
@ryandub In short - feel free to open a PR with the try / except change. Just make sure you still log the exception in the except clause though :)

[2015-04-10 13:00] #175 closed

[2015-04-10 13:11] jfryman opened #180 "Slack sensor failing on cache load"
In our own slack, we do not have any groups. Because of this, the following error occurs:

[code]

[2015-04-10 13:13] #180 closed

[2015-05-13 17:44] chrishenry opened #201 "Pagerduty.ack_incident error"
When running `ack_incident` from the UI, I saw the following error;

[code]

However, the incident __was__ acknowledged.

[2015-05-14 09:12] Kami commented on #201
@chrishenry Thanks for the report.

I just had a look and it looks like a minor bug in the action - as you have noted, the incident does indeed get acknowledged, but the return statement is referencing an invalid variable so the action is marked as failed.

I will push a fix for that action. In addition to that, I will also hook up pylint to our packs build process to make sure issues like this ge

[2015-05-14 09:30] #201 closed

[2015-05-14 10:57] Kami commented on #201
Both things are now resolved #203 and #204.

Thanks again for the report.

[2015-06-20 22:04] armab opened #231 "Message formatting for Hubot (ChatOps)"
Related to https://github.com/StackStorm/st2contrib/pull/230, which was not good enough to cover all problem cases.

Seems we can't use serializers like [`yaml/pyyaml dump`](https://github.com/StackStorm/st2contrib/blob/master/packs/hubot/actions/post_result.py#L16). Instead just format `stdout` and `stderr` messages and post to hubot as is.
The problem if data contains any unprintable characters

[2015-07-09 13:33] armab commented on #231
From IRC:

[2015-07-09 13:37] Kami commented on #231
This would again be responsibility of a per-adapter formatter.

[2015-07-14 21:15] amaline opened #240 "ca certificate path"
Not sure many people will have this problem, but we operate behind a proxy that breaks SSL so we need to load our own certs.  Was receiving the following error:

- requests.exceptions.SSLError: [Errno 1] _ssl.c:510: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed

Had this issue playing with the slack pack so had to mod the post_message.py as follows.  There may b

[2015-07-14 21:30] manasdk commented on #240
hmm ... changing each pack would be pretty obnoxious. It likely we can configure this at a platform level in StackStorm. Lets see what can be done.

[2015-07-14 22:10] jfryman commented on #240
@amaline Have you tried adding your CA certs to the OS trusted store? As far as I understand, everything underneath the hood of `urllib3` is just OpenSSL bindings anyway. To that end, instead of adding a variable to an action, you could just have the OS trust the CA.

Here's a script and explanation of how to do this. https://www.madboa.com/geek/openssl/#verify-system

What do you think?

[2015-07-14 23:56] amaline commented on #240
@jfryman I forked the st2express and modified the [Dockerfile](https://github.com/amaline/st2express/blob/master/docker/Dockerfile) by adding the certs to /usr/local/share/ca-certificates and running "update-ca-certificates", I think that should have done it.

[2015-07-15 12:15] amaline commented on #240
OK, found if I start the docker container with the environmental variable REQUESTS_CA_BUNDLE set to /etc/ssl/certs/ca-certificates.crt, everything works.

docker run -it --net=host -e REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt amaline/st2 bash

[2015-07-15 12:15] #240 closed

[2015-07-15 13:20] jfryman commented on #240
@amaline great to know! I'll add this to our documentation for others to find in the future.

[2015-07-16 18:16] amaline opened #246 "post message failure"
Any idea why this works

   # st2 run slack.post_message message="{text: '%%foo'}"

but this fails

   # st2 run slack.post_message message="{text: '%%bar'}"
[code]
definitely some type of url encoding issue. '%ff' fails, but '%fg' works.

[2015-07-20 04:26] Kami commented on #246
We don't escape the string as far as I know so yeah, it's probably trying to interpolate the string or something along those lines.

I will have a look.

[2015-07-20 04:37] Kami commented on #246
I tried to reproduce the issue using the latest version of hubot pack and hubot-stackstorm hubot plugin, but I can't. It works fine here:

[code]

I also looked at the action code and we don't do anything with the message (message is sent as JSON in the body).

@amaline Which version of hubot-stackstorm hubot plugin are you using? It looks like that in your case, for some reason, hubot fails to pa

[2015-07-20 14:23] amaline commented on #246
@Kami , in the above example I am not using any bot at all, I am just using the slack pack directly.
[code]
The hubot pack probably encodes the string before putting it into the json message which is probably the correct thing to do, so I am probably just using the slack pack incorrectly here and should run
[code]
which indeed does work.

[2015-07-20 14:23] #246 closed

[2015-07-20 17:21] Kami commented on #246
@amaline Sorry, I totally misread your PR description (I read "hubot" instead of "slack").

In the hubot case it's sent as JSON in the body, but in the slack case it's sent in the body as form encoded value so you are right that it's probably something to do with encoding. I will have a look.

[2015-07-20 17:35] Kami commented on #246
@amaline Good catch. I've pushed a fix in https://github.com/StackStorm/st2contrib/pull/248.

And sorry for the initial confusion :)

[2015-07-20 17:37] manasdk commented on #246
Also might be worth looking at https://github.com/StackStorm/st2-slack

Lot more actions available in that pack.

[2015-07-20 20:33] dzimine commented on #246
Shall we deprecate st2contrib/slack in favor of st2-slack?
DZ>
On Jul 20, 2015, at 10:37 AM, Manas Kelshikar <notifications@github.com> wrote:

[2015-07-20 20:36] amaline commented on #246
Thanks, I overlooked st2-slack.

[2015-07-29 08:03] nido009 opened #254 "packs/email imap-sensor not handling multipart mime messages"
the email pack has a problem with multipart mime messages. upon hitting a multipart message it crashes with "Can't decorde message body: DecodeError(TypeError(......"

_process_message() already parses mime for the headers. instead of body = message.body it should be something like "body=mime_msg.body". then it would only be parsed if *not* multipart.

[2015-07-29 12:58] Kami commented on #254
Thanks for the report.

Can you please provide more details - gisting a whole raw email message would be great (you can of course mask / remove sensitive parts).

When I worked on the support for attachments, I didn't encounter this issue (I tested it with multiple different attachments) so I'm curious what is causing this issue. Or maybe this only affects message with multiple body parts (I also

[2015-07-29 14:00] nido009 commented on #254
still with the multipart fix i receive the following errors when a mail is received via imap:

==> st2sensorcontainer.log <==
Jul 29 13:57:53 localhost st2sensorcontainer[18719]: DEBUG 140030889148080 log [-] process_task
Jul 29 13:57:53 localhost st2sensorcontainer[18719]: DEBUG 140030889148080 log [-]      body: TriggerDB(description=None, id=55b8d8d39c99383f8d82a834, name="st2.sensor.process_ex

[2015-07-29 15:55] nido009 commented on #254
as far as i can see this error is not related to the email pack directly, but instead in the rulesengine, cause the flanker include is missing there.

[2015-07-29 16:08] Kami commented on #254
This is rather weird.

Rules engine shouldn't import anything from there. We use pickle serializer for message bus messages, so it could be something weird going on there (e.g. payload is some how being treated as Python code when de-seralizing it and this results in the import...).

Or it could simply be error message which occurs inside the sensor (sensor container), but it's being logged in a w

[2015-07-29 19:45] nido009 commented on #254
@Kami you have mail.

[2015-07-29 19:47] jfryman commented on #254
This issue is also affecting one of our POCs that we have ongoing.

[2015-07-30 08:06] Kami commented on #254
@nido009 @jfryman Thanks. I will dig in today and try to reproduce the issue.

[2015-07-30 08:49] Kami commented on #254
@nido009 I tried to reproduce this issue using the email you forwarded to me and yes, the issue doesn't lie in the sensor.

The sensor works just fine and the trigger is dispatched correctly. It looks like it's an issue with the rules engine. I will dig further.

[2015-07-30 08:53] Kami commented on #254
Yep, I just confirmed it - the exception is throw inside the rules engine when we try to de-serialize (unpickle) the message on the message bus.

I'm looking into a fix now.

[2015-07-31 20:35] #254 closed

[2015-08-17 20:02] gelato opened #270 "logstash/kibana integration is not working"
None of this is working with current version of logstash, so what's the point in keeping this integration on the stackstorm's site list?

[2015-08-17 21:43] lmEshoo opened #271 "Git pack prompting for username in GHE"
[code]

[2015-08-18 02:25] dzimine commented on #270
do you mean [logstash integration](https://github.com/StackStorm/st2contrib/tree/master/extra/logstash) or something else?

[2015-08-18 04:46] gelato commented on #270
Yep, logstash integration and kibana dashboard. People can easily fix it if
they have any knowledge in logstash, but still - it's not working now.
18 авг. 2015 г. 5:25 пользователь "Dmitri Zimin(e)" <
notifications@github.com> написал:

[2015-08-18 05:07] dzimine commented on #270
We'll likely face-lift it soon, but meantime, a contribution to adjust to new version is very welcome!

[2015-08-19 23:48] chilicat opened #273 "Where can I find example for the openstack pack?"
Where can I find example for the openstack pack?

[2015-08-20 00:09] manasdk commented on #273
@chilicat Take a look at https://github.com/StackStorm/openstack

Its a newer pack for openstack built on top of the CLI with some more actions etc.

Are you looking for samples on how to use the pack or something else.

[2015-08-20 15:46] chilicat commented on #273
I was already confused since I found https://github.com/StackStorm/openstack this and also a openstack pack in st2contrib.

Is it preferred to use StackStorm/openstack?

I was looking for simple examples like:
1. Create a Instance
2. attach floating ip
3. get floating ip and report back to slack chat room.

I used ansible for 1) 2) but I figured that ansible is not particular to extract informatio

[2015-08-20 16:05] manasdk commented on #273
Yeah. Long term development will be on that pack.

https://github.com/StackStorm/openstack/blob/master/actions/server.create.yaml

https://github.com/StackStorm/openstack/blob/master/actions/ip.floating.add.yaml

https://github.com/StackStorm/openstack/blob/master/actions/server.show.yaml

Should contain the floating-ip. To report back to slack from the chat-room you could either -
1. ChatOps the

[2015-08-20 17:21] chilicat commented on #273
I get following error:
```openstack server create: error: argument -f/--format: invalid choice: 'json' (choose from 'shell', 'table', 'value')```

Is there a json format plugin for the openstack client which I have to install?

[2015-08-20 17:27] chilicat commented on #273
Never mind, I think its just a extremely old client version on my machine.

[2015-08-20 17:42] chilicat commented on #273
Upgraded to Kilo clients provided by RDO:
python-neutronclient-2.4.0-1.el7.noarch
python-novaclient-2.23.0-1.el7.noarch
python-openstackclient-1.0.3-2.el7.noarch
python-keystoneclient-1.3.0-1.el7.noarch
python-cinderclient-1.2.1-1.el7.noarch
python-glanceclient-0.17.0-2.el7.noarch

doesn't support the json format.

[2015-08-20 19:11] manasdk commented on #273
@chilicat Yeah likely that old client will not work. Lemme confirm which version of python-openstack client actually supports json.

[2015-08-20 19:46] manasdk commented on #273
@chilicat I see support with 1.4.0 (likely 1.3.0 also does but due to oslo mismatches there are some issues running 1.3.0).

[code]

[code]

Looks like you are using `python-openstackclient-1.0.3-2.el7.noarch` and likely that back then there was no support for `json`. Is it possible for you to use a newer version?

[2015-08-20 20:01] manasdk commented on #273
If upgrading to a newer unstable version of python-openstackclient is not an option then for a temporary solution would be switch back to https://github.com/StackStorm/st2contrib/tree/master/packs/openstack

Likely I can get python-openstackclient to support 1.0.4 (kilo) as well or if you are motivated then I can walk you through the process. Thoughts?

In anycase catch up with us on https://stack

[2015-08-20 21:56] Kami commented on #273
@manasdk I'm slightly confused about this issue.

Shouldn't the openstack client dependency be installed inside the virtualenv (as defined in requirements.txt) so system version shouldn't affect it since virtualenv one has precedence (we just need to make sure dependency specified in requirements.txt is pinned to a know working version).

[2015-08-20 22:36] lmEshoo commented on #271
I'm wondering what is the approach to fix this issue is, using Tokens? instead of having the user sign in with their credentials.

[2015-08-20 22:45] Kami commented on #271
@lmEshoo Git commit sensor is a generic sensor which is intended to work with any git server (not just Github) so tokens wouldn't work here (they are Github specific).

One solution is to use SSH remote + SSH keys for authentication. In this case it's up to the user to make sure SSH key which is needed to access the repo is available on the server where the sensor is running.

[2015-08-20 22:49] manasdk commented on #273
Likely that https://github.com/StackStorm/openstack/blob/master/actions/src/lib/base.py#L36 means that the openstack client in the virtualenv is not actually used. I will probably have cycles next week to take a look at what might be going on.

[2015-08-20 23:32] manasdk commented on #273
So on being prodded by Kami I decided to take a closer look as something did not exactly add up. Regardless of the system `python-openstackclient` StackStorm installs the right version from pip in a virtualenv - so what gives?

It turns out that the virtualenv binary is completely ignored as StackStorm does not update the PATH variable to include the `bin` directory of the virtual environment. So

[2015-08-20 23:36] manasdk commented on #271
Yes SSH remote + SSH keys is an options.

github (likely even GHE) does support url of the format `https://$GH_TOKEN@github.com/owner/repo.git` and this might work in your case.

[2015-08-20 23:47] lmEshoo commented on #271
awesome!

[2015-08-20 23:47] #271 closed

[2015-10-05 00:18] thomaspicquet opened #296 "Ansible pack won't install binaries when ansible is already installed on the machine"
I had ansible already on the machine, installed via apt-get and when I added the ansible pack for stackstorm, it didn't add the binaries.
At the beginning I had my other ansible machine just symlink the binaries but after removing ansible on the stackstorm machine, the pack installed the binaries correcty.

[2015-10-05 11:44] Kami commented on #296
Thanks for the report.

When you install a pack using `packs.install`, we create a new virtual environment for that pack and install all the dependencies there. This is done to prevent isolate the pack and prevent conflicts between different packs and system libraries.

This means that ansible binaries will be installed inside the virtualenv (`/opt/stackstorm/virtualenv/ansible/bin/ansible`) and t

[2015-10-05 11:49] armab commented on #296
I'm trying to reproduce it, waiting for my VM to provision to verify.
Also was reported in our slack community.

As I researched, it could be realted to https://github.com/pypa/pip/issues/333 when pip doesn't install packages for venv that exist in the global python installation.

But we install pip requirements [with `-U` flag](https://github.com/StackStorm/st2/blob/v0.13.3/contrib/packs/actions/

[2015-10-05 11:55] Kami commented on #296
Yeah, good point - we create virtualenv with `--system-site-packages` flag so this could be the issue.

We originally didn't use that flag, but it turned out there were some issues so we decided to use it as a not so ideal workaround.

[2015-10-05 12:06] armab commented on #296
Strange, but I couldn't reproduce it on latest stable st2 version. I've got new VM and ran:

[code]

Both global and venv ansible were installed:
[code]

Then I verified that st2 runs venv ansible version:
[code]

[code]

[2015-10-05 12:15] armab commented on #296
Could reproduce it when installing global ansible via pip. The difference is that `apt-get` installs `1.5` ansible version, while `pip` installs latest `1.9` ansible version.

So here virtualenv ansible is not installed, because global ansible is up to date and has the same version.

Install global ansible (via pip) and st2 virtualenv ansible:
[code]

Check if virtualenv ansible is installed:
[cod

[2015-10-05 12:22] Kami commented on #296
I wonder if this works as intended or it's a bug in virtualenv.

In any case, it seems like we need to make sure we add global `bin` directory to the path. I actually thought that was already the case (we introduced this change a while ago), but there could be some edge cases which we don't handle right now.

@armab Do the ansible actions still work even if the binaries are not installed in virtua

[2015-10-05 12:53] armab commented on #296
Yeah, there is a global `bin` in the path, but no sandboxed path when running `local-shell-script` (ansible pack is [implemented via `local-shell-script`](https://github.com/StackStorm/st2contrib/blob/master/packs/ansible/actions/command_local.yaml#L4)).
Because of that global ansible will have precedence over sandboxed ansible.

Is it good idea to add sandboxed bin dir to `PATH` when running `loc

[2015-10-05 13:14] Kami commented on #296
I'm not convinced this is the best approach since sandbox is really specific to Python actions so I'm not a big fan of this abstraction "leaking" elsewhere.

Long term ideal solution would be for those actions to be Python runner actions but for that, we first need to add support for executing Python actions on remote hosts.

I'll think about it some more.

[2015-10-05 13:18] armab commented on #296
Ok, then I'll just modify `PATH` in `ansible` pack to fix this.
Thanks for your insights & ideas with `PATH` and `pip` flags!

[2015-10-05 14:57] thomaspicquet commented on #296
I initially had ansible installed via apt-get, not pip but I had the ansible repository:
[code]
it installs version 1.9.3 that way so it meets the requirements set in the ansible pack, maybe thats why it didn't install the binaries?

[2015-10-05 15:09] Kami commented on #296
@armab Thanks, this seems like a reasonable solution / workaround until we figure something better out :)

[2015-10-05 17:03] #296 closed

[2015-10-05 17:06] armab commented on #296
@thomaspicquet Yes, exactly.
Fix is merged, you can try reinstalling st2 ansible pack. It should use your global ansible, if virtualenv ansible wasn't installed.

[2015-10-05 17:14] thomaspicquet commented on #296
@armab
it worked fine, thanks a lot!

[2015-10-21 01:08] pixelrebel opened #301 "Attachment support (slack.post_message)"
Are you planning on adding support for attachments?  I suppose this would make your action parameters pretty complex (i.e. introducing the attachments and fields arrays).

[2015-10-21 10:34] armab commented on #301
There is [`st2-slack`](https://github.com/StackStorm/st2-slack/) repo, separated from `st2contrib` with attachments support, see:
https://github.com/StackStorm/st2-slack/blob/master/actions/chat.postMessage.yaml#L9

You can try it.

(2 different slack packs is confusing, - we'll change that later).

[2015-10-21 15:49] dzimine commented on #301
Let’s add a reference on /st2contrib/slack/README.md to this pack. Same with OpenStack…

On Oct 21, 2015, at 3:34 AM, armab <notifications@github.com> wrote:

[2015-10-21 19:37] pixelrebel commented on #301
Great, I like the [`st2-slack`](https://github.com/StackStorm/st2-slack/) approach much better: a simple wrapper around the API, encompassing many commands.

[2015-10-21 19:37] #301 closed

[2015-11-24 06:57] sachinpk opened #317 "new relic pack isn't working"
New relic pack isn't working ,When i sent a test newrelic webhook and traced the st2sensorcontainer.log
it shows
"Request doesn't contain "alert" attribute, ignoring..."

[2015-11-25 03:27] lakshmi-kannan opened #320 "Test issue"

[2015-11-25 03:28] #320 closed

[2015-11-25 03:30] lakshmi-kannan opened #321 "This issue should show up in slack."

[2015-11-25 03:30] lakshmi-kannan commented on #321
It did. Closing.

[2015-11-25 03:30] #321 closed

[2015-11-25 03:35] lakshmi-kannan commented on #317
@sachinpk The sensor seems to be working as designed. See code here: https://github.com/StackStorm/st2contrib/blob/master/packs/newrelic/sensors/newrelic_application_sensor.py#L117

Can you paste the contents of the webhook body? If it doesn't contain "alert" field, we log that error. Also, we have a "community" channel on slack. Feel free to register stackstorm.com/community-signup and ask for he

[2015-11-25 15:10] Kami commented on #317
It turns out NewRelic recently changed the API - https://docs.newrelic.com/docs/alerts/alert-policies/examples/webhook-examples and out sensor only supports what is now called "legacy" API (I'm not complaining too much about that, old API was terrible).

To "fix" this we should at the very least update README.md to clarify that and eventually also create another sensor for the new API (@sachinpk c

[2015-11-30 02:20] Kami commented on #317
Closing since #324 and #325 resolved this.

[2015-11-30 02:20] #317 closed

[2015-12-04 20:13] armab opened #330 "[ansible] `become` privilege escalation issues"
Running Ansible via StackStorm pack with [privilege escalation options](http://docs.ansible.com/ansible/become.html) like [`become`](https://github.com/StackStorm/st2contrib/blob/2a6ead9b4a32f56425b8dc8c3d34bfa201e416fb/packs/ansible/actions/playbook.yaml#L32-L46)  doesn't work (?).

When running Ansible pack with command equivalent:

[code]

Ansible can't read `~/.ssh/config` of `ubuntu` user.

R

[2015-12-09 20:34] vikrantpogula commented on #330
Link for knowing about `ForwardAgent`. https://developer.github.com/guides/using-ssh-agent-forwarding/

This lets the ssh keys (like github) in the Host system's ssh-agent to be forwarded to the ssh-ed system. This eliminates adding ssh access keys to each target node

[2015-12-10 01:16] vikrantpogula opened #335 "[ansible] using inventory-file (-) as alias parameter breaks parser"
Stack trace (/var/log/st2/st2api.log)

[code]

[2015-12-10 01:17] vikrantpogula commented on #335
moved to https://github.com/StackStorm/st2/issues/2280

[2015-12-10 01:17] #335 closed

[2015-12-18 01:39] emedvedev commented on #231
This is rather a `hubot-stackstorm` issue, and also configurable in 1.2.0. @armab if you have time, please reproduce in the latest version and open the issue in hubot-stackstorm repo. We'll see how we can fix it if it's still there; the default template is Jinja-rendered now, so there should be an easy way to deal with it.

[2015-12-18 01:39] #231 closed

[2015-12-18 01:40] #131 closed

[2015-12-18 01:44] emedvedev commented on #125
Closing as stale: here in December, almost a year from when this issue was created, we're using `post_message` pretty much everywhere, including the `chatops` pack. :)

[2015-12-18 01:44] #125 closed

[2015-12-18 13:59] armab commented on #231
Yeah, obsolete issue.

I'll check how it looks in new version.
I hope ... someday ... when other issues let me free :)

[2016-01-07 00:25] jmound opened #357 "AWS pack is not working"
Installed the pack and tried a few actions, all failing with:
[code]
Example:
[code]

[2016-01-07 00:29] DoriftoShoes commented on #357
Thanks for the report!  It looks like the connection object isn't getting instantiated correctly and we are missing some error handling around that.  I'll try and repro on my end.  Did you add your key and secret key to config.yaml in the aws pack?

[2016-01-07 00:36] jmound commented on #357
No, the Stackstorm instance has an assigned IAM role which grants it permissions.
[code]
from the CLI works as expected.  I'll try again with a configured config.yaml.

[2016-01-07 18:59] psychopenguin opened #359 "Jira pack doesn't allow creation of custom issue type"
Jira pack alloes only the following issue types to be created:

- Task
- Story
- Epic
- Bug

I've created this issue to discuss the best way to make it to allow the creation of other types. I believe add other types to the action yaml is not good, because some places have custom types.

My idea is to totally remove the enum list from it, and make it a free string parameter.

Or, alternatively, cre

[2016-01-07 19:03] manasdk commented on #359
Seems like the only reasonable solution.

I would only update the description to say that `task, story, bug and epic are typical types. Could also be custom_types.`

[2016-01-07 19:30] psychopenguin commented on #359
hmm... let me see if i understood correcty:

- remove the enum list
- update the description

Is this right? If so I will do the changes and create a PR. Thanks, @manasdk!

[2016-01-07 19:46] manasdk commented on #359
@psychopenguin Yes you got it right.

:+1:

[2016-01-13 16:51] armab opened #363 "[ansible] Consider removing default `sudo: true`"
Consider removing default `sudo: true` in Ansible pack.
Verify/Test if all possible cases/showcases still works well and all user stories are still covered.

Discussion in #community: https://stackstorm-community.slack.com/archives/community/p1452701218012208

[2016-01-27 13:50] kuboj opened #370 "[question] Tests for packs"
Hello,

I was wondering - is there some reasonable way how to write test suites for different components of packs? It came to my mind when I was fixing AWS SQS sensor - the only way how to do it was to do it on whole StackStorm deployment

[2016-01-27 16:47] jfryman commented on #370
@kuboj Take a look at https://docs.stackstorm.com/development/pack_testing.html

Does that give you what you need?

[2016-01-28 10:20] kuboj commented on #370
Yeah, that looks exactly like what I wanted, thanks! BTW, is there some pack already included in ST2 that has well written tests so I can look into it? So for now luck while browsing the repos.

[2016-01-28 11:10] Kami commented on #370
You can find some basic examples here:

* https://github.com/StackStorm/st2contrib/blob/master/packs/xml/tests/test_action_parse_xml.py
* https://github.com/StackStorm/st2contrib/blob/master/packs/circle_ci/tests/test_get_build_number_action.py
* https://github.com/StackStorm/st2contrib/blob/master/packs/docker/tests/test_sensor_docker_sensor.py

Keep in mind thought that senors are usually a bit

[2016-01-28 11:10] #370 closed

[2016-02-02 17:26] dhgwilliam opened #378 "duplicate requirement breaks AWS pack installation"
See requirements.txt, introduced in 7e1e801ff3c50f8b899736bcbad0a6e87874517b

[code]

[2016-02-02 17:44] #378 closed

[2016-02-02 21:37] mward29 opened #381 "AWS aws.rds_get_list requires markers, params and action to be set"
I suspect this is the case with several other AWS actions as well as I've seen it a fair amount.

In particular the aws.rds_get_list action requires markers, params and an action to be set before execution when it shouldn't. According to boto docs, it should only require access_key, secret and region which are all in config.yaml.

 Patrick suggested I submit this issue as he is looking into it.

[2016-02-04 18:35] #359 closed

[2016-02-05 00:04] m4dcoder opened #385 "AWS actions cannot handle non-string types"
boto3 method such as create_tags is expecting the tags to be a list of dicts. The current aws.ec2_create_tags expect the tags to be string. https://boto3.readthedocs.org/en/latest/reference/services/ec2.html?highlight=tag#EC2.Client.create_tags

[2016-02-05 18:55] manasdk opened #387 "AWS pack result marshalling should be generic"
Based on the conversation https://github.com/StackStorm/st2contrib/pull/386#discussion_r51978114 pack parser needs some updating.

Basically, write a generic marshaller from `boto.*` objects to `json`. Boto is not really meant for this purpose so it might be an interesting kludge.

[2016-02-05 23:15] DoriftoShoes opened #388 "AWS Pack not returning results in array."
The behavior was recently changed to no long put the results in to an array.  This most likely is fine but it is not backwards compatible.  We need to either reimplement this or add a giant disclaimer.

[2016-02-08 20:58] lakshmi-kannan opened #389 "Sensu handler and nagios handler should use API key and not username/password."
https://stackstorm-community.slack.com/archives/community/p1454964433004125

Reported by: murg on slack.

[2016-02-08 22:42] lakshmi-kannan opened #390 "Sensu handler fails to authenticate with st2"
st2 uses PAM auth backed and credentials work when using st2 auth user -p pass. However, same credentials do not work with sensu handler. User gets a "Cannot authenticate to st2" message when registering trigger type from handler.

Reported by: murg on slack.

https://stackstorm-community.slack.com/archives/community/p1454970295004306

[2016-02-08 22:43] murgurgula opened #391 "Unable to authenticate from sensu server on stackstorm server."
while doing the test command:
echo '{"foo":"bar"}' | ./st2_handler.py ./st2_handler.conf I get the following output:

root@i-nkorniyenko-CBC:/etc/sensu/handlers# echo '{"foo":"bar"}' | ./st2_handler.py ./st2_handler.conf
Cannot authenticate. Will try unauthed.Failed to register trigger type with st2.                 HTTP_CODE: 400
Failed registering with st2. Won't post event.
Traceback (most rece

[2016-02-08 22:45] lakshmi-kannan commented on #390
Resolving as duplicate. See https://github.com/StackStorm/st2contrib/issues/391.

[2016-02-08 22:45] #390 closed

[2016-02-08 22:52] murgurgula commented on #391
st2 ('1.3.0.12',)

[2016-02-08 23:39] manasdk commented on #391
Unable to reproduce

Proving that I have same code as upstream in `st2contrib`.
[code]

Proves that handler did actually register the sensu event with StackStorm.
[code]

requests version on my local box
[code]

[2016-02-08 23:41] manasdk commented on #391
@murgurgula - Can you try and repro with the payload I used?

[2016-02-09 01:32] lakshmi-kannan commented on #391
1. Fix default config file to not use ports and use https by default
https://github.com/StackStorm/st2contrib/blob/master/packs/sensu/etc/st2_handler.conf#L4

2. In all except blocks in the code, add a traceback.print_exc() so error messages are more explicit.

[2016-02-11 10:48] emedvedev opened #394 "st2.list_executions"
While polishing https://github.com/StackStorm/st2contrib/pull/329, I noticed that `st2.list_executions` becomes unusable when used a few times in a row: it includes every execution's result in the output and grows with every subsequent request.

There's no way to exclude executions' content right now (or I just don't see one), so getting a list of 10 large executions will just hang st2. We should

[2016-02-11 12:39] Kami commented on #394
IIRC, we had some code in the past to exclude the result of `list_executions` executions in this action result, but not exactly sure what happened to it.

[2016-02-17 04:25] #273 closed

[2016-02-26 19:07] lakshmi-kannan opened #417 "CentOS7: st2.actions.list fails on a weird SSL error."
Details here:
https://gist.github.com/lmarty/97ea65f5c228e2465f2e

See IRC for debugging info.

Related: http://stackoverflow.com/questions/14102416/python-requests-requests-exceptions-sslerror-errno-8-ssl-c504-eof-occurred

OS: Cent OS 7
st2 version: Unknown

[2016-02-26 19:10] lmarty commented on #417
st2 version  = 1.3.2

[2016-02-26 19:39] emptywee commented on #417
Cannot reproduce here on CentOS7.
[code]
requests module:
[code]
nginx:
[code]

debug run:
[code]

[2016-02-26 19:46] lmarty commented on #417
Only diff I see between our environments here is the nginx version.  Output below.

[root@ip-10-48-107-24 st2]# rpm -qa | grep openssl
openssl-devel-1.0.1e-51.el7_2.2.x86_64
openssl-libs-1.0.1e-51.el7_2.2.x86_64
openssl-1.0.1e-51.el7_2.2.x86_64
[root@ip-10-48-107-24 st2]# pip show requests
You are using pip version 7.1.0, however version 8.0.3 is available.
You should consider upgrading via the 'p

[2016-02-26 19:54] emptywee commented on #417
Feels like st2.actions.list expects SSL but connects to plain HTTP port. Need to debug what URL the action makes requests to.

[2016-02-26 22:30] lakshmi-kannan commented on #417
@lmarty: I have the exact versions you have and I can't repro.

[code]

@emptywee has an excellent point about http vs https. I see all your curl requests indicate request should be made to http but somehow we also see SSL error.

Can you dump the contents of ~root/.st2/config and mask any credentials?

[2016-02-29 16:43] murgurgula opened #419 "sensu.unsilence client passed as argument instead of check."
When using sensu.unsilence on a specific check, the client is passed as check argument.

Fix:

`path = "%s/%s" % (path, args.client)` ===> `path = "%s/%s" % (path, args.check)`

 `#!/usr/bin/python

from lib import sensu
import argparse

parser = argparse.ArgumentParser(description='Sensu Unsilence Actions')

parser.add_argument('--client', nargs='?', required=True)
parser.add_argument('--check',

[2016-03-01 22:44] lmarty commented on #417
Got this one figured out with your guidance.  Updated all refs to the api and auth urls in the bot script, st2.conf and config.js to use https, did a st2ctl reload --register-all and things started flowing.  Thanks for the help!

[2016-03-02 10:30] minhdanh opened #421 "hubot pack install problem"
In install some packs, including hubot:

`st2 run packs.install packs=aws,slack,email,hubot,jenkins repo_url=https://github.com/StackStorm/st2contrib.git`

It failed for hubot. Here's the output:

[code]

[2016-03-02 10:40] minhdanh commented on #421
This failed for other pack too. After installing `virtualenv` manually, the installation succeeded. I installed St2 via Ansible, so there should be some update on the playbook.

[2016-03-02 12:30] armab commented on #421
Recently we released brand new packages which have all necessary pip dependencies bult-in, including virtualenv.

The recommended (and now easiest) way of installing StackStorm is:
* [`ubuntu trusty`, `debian wheezy`, `debian jessie`](https://docs.stackstorm.com/install/deb.html)
* [`RHEL7/CentOS7`](https://docs.stackstorm.com/install/rhel7.html)
* [`RHEL6/CentOS6`](https://docs.stackstorm.com/ins

[2016-03-02 12:30] #421 closed

[2016-03-02 13:29] #419 closed

[2016-03-02 13:32] Kami commented on #419
Thanks.

Pushed a fix in https://github.com/StackStorm/st2contrib/commit/c182d3bb832abe9f96ed8f1c043e841046b922ed.

Next time, as I mentioned on Slack, feel free to open a PR with the fix yourself.

[2016-03-07 10:47] emedvedev opened #437 "Google pack: `get_search_results` is broken"
Reported by @runseb, verified. `get_search_results` always returns an empty list.

[2016-03-09 23:05] kevinSuttle opened #439 "Does the GitHub pack support GitHub Enterprise?"
Seems like the default is github.com. Wondering if a custom URL and auth method are supported, or could be. Thanks.

https://github.com/StackStorm/st2contrib/tree/master/packs/github

[2016-03-09 23:14] emedvedev commented on #439
I think it wouldn't be hard to implement support. You'll need to move `base_url` to config, and make the python action read from it instead of hardcoding (https://github.com/StackStorm/st2contrib/blob/master/packs/github/actions/lib/base.py#L11), and then the only thing left would be to pass `base_url` to github constructor here: https://github.com/StackStorm/st2contrib/blob/master/packs/github/ac

[2016-03-09 23:15] emedvedev commented on #439
You can read tests at PyGithub to learn how an Enterprise connection is implemented, like this one: https://github.com/PyGithub/PyGithub/blob/0e0b74a5d8caf0574b3bb4df6b85e61ba65c7376/github/tests/Issue80.py#L33

[2016-03-10 03:04] kevinSuttle commented on #439
@emedvedev thanks. I'm new to Python, but I think I've got it. However, running `make all` throws an error here:

[code]

[2016-03-10 03:22] kevinSuttle commented on #439
Opened a PR so someone can (in)validate.

[2016-03-10 06:59] emedvedev commented on #439
Perfect, I'll review shortly. The `make all` error is likely due to a different version of `oslo` on your box. They changed `oslo.config` to `oslo_config` a while ago (or the other way around, I don't really remember). Our tests pass for your PR. :)

[2016-03-17 19:18] #439 closed

[2016-03-17 19:30] Kami commented on #437
IIRC, that library relies on scraping data directly from HTML so it probably means that the underlying library needs to be updated.

[2016-03-17 20:10] Kami commented on #437
Alright, I pushed a fix for this to our upstream library fork.

I will close this issue for now, but it's worth noting that the upstream library relies on parsing the generated HTML which means it's very fragile and it could break at any time Google changes their HTML.

[2016-03-17 20:10] #437 closed

[2016-03-17 20:13] emedvedev commented on #437
Great that it's working now!

Parsing the HTML is flaky, but the search API has been deprecated, IIRC, so I don't think there's a much better solution. Not one we should spend time on right now, anyway.

[2016-03-17 20:14] Kami commented on #437
Also, to fix it you need to run `st2 pack.setup_virtualenv packs=google` so that the dependency is updated.

[2016-03-17 20:50] runseb commented on #437
it is worth keeping in mind that quite a few of your chats examples use that pack.

[2016-03-25 12:27] jennyfountain opened #458 "."
Everything appears to be working but when I go to the system, the service is still no started.

$ service collectd status
collectdmon is stopped

<img width="464" alt="screen shot 2016-03-25 at 8 24 56 am" src="https://cloud.githubusercontent.com/assets/4526604/14044131/3ea76112-f263-11e5-979f-c55355a7e6f1.png">

Mar 25 08:25:32 test1 sudo:  stanley : TTY=pts/1 ; PWD=/home/stanley ; USER=root ; CO

[2016-03-25 15:14] jennyfountain commented on #458
turns out to be issue with collectd. Closing.

[2016-03-25 15:14] #458 closed

[2016-04-13 22:12] jsenon opened #476 "Failed to download pack"
Hello,

How to configure stackstorm, to perform pack installation on CLI behind an HTTP/HTTPS Proxy `st2 run packs.download packs=docker`
?
When I made export http_proxy or HTTP_PROXY, we are unable to connect to github repository.
OS=RedHat6

Thanks

[2016-04-14 19:32] manasdk commented on #476
@jsenon Will need a bit of trial and error to figure this out.

I believe the library we use to perform git clone uses system git. Therefore, it should be possible to set the git config via `git config --global http.proxy <proxy_url>` This command would have to be run at the `st2` user since the actual action is executed by that user on the StackStorm box.

[2016-04-14 21:43] jsenon commented on #476
Hello @manasdk

I'll try git config proxy on st2 user, Thanks. Nevertheless find log bellow.
I've set :

- export http_proxy="http://foo:3128"

- export https_proxy="http://foo.3128"

- export no_proxy="localhost,127.0.0.1,127.0.0.0/8"

`[root@fr0-vsiaas-2348 ~]# st2 --debug run packs.install packs=docker repo_url=https://github.com/StackStorm/st2contrib.git
# -------- begin 140366354801424 reques

[2016-04-14 23:10] manasdk commented on #476
Which box did you setup those environment variables on? The actual git command is executed on a an actionrunner box so it would need to be on those boxes.

[2016-04-15 05:27] jsenon commented on #476
Don't really understand the question. What do you mean by box? I've installed through
https://docs.stackstorm.com/install/rhel6.html
Do I have to configure environment for "stanley" user?
It's this command who failed with http proxy error : `st2 run packs.download packs=docker`

[2016-04-15 05:39] manasdk commented on #476
True. However, this is the CLI i.e. the actual failure is not in the session where the `st2` cli executes. The error actually is in the environment of the `st2actionrunner` process. If you export HTTP_PROXY in the shell where you run the action `st2 run packs.download packs=docker` then that environment variable is only available locally in that shell and sent across the stackstorm API (st2api) to

[2016-04-15 06:32] jsenon commented on #476
That's work. Thanks a lot @manasdk

[2016-04-15 09:44] Kami commented on #476
@manasdk We should add some kind of section on configuring and using HTTP proxy with StackStorm to our documentation...

[2016-04-20 21:05] jennyfountain opened #480 "Jira extra_fields does not seem to allow the assignee field"
I added the assignee field and it still created the ticket unassigned.

Here is what I added to the extra_fields:

{
 "assignee": {
   "name": "jfountain"
 }
}

[2016-04-21 23:41] puneetk opened #482 "Use saltstack pepper in the salt pack to talk to the api"
Runner module is broken in the salt pack with saltstack version 2015.8.7 and above. Checked with @jcockhren and will stage a version of the pack using [saltstack/pepper](https://github.com/saltstack/pepper)

[2016-04-27 19:20] #417 closed

[2016-04-27 19:20] #391 closed

[2016-04-27 19:20] #389 closed

[2016-04-27 19:21] lakshmi-kannan commented on #357
Closing. Please reopen if needed again!

[2016-04-27 19:21] #357 closed

[2016-04-27 19:21] lakshmi-kannan commented on #270
Closing as unproductive.

[2016-04-27 19:21] #270 closed

[2016-05-07 16:18] jennyfountain commented on #480
Am I doing something wrong?

[2016-05-07 16:42] lakshmi-kannan commented on #480
@jennyfountain I replied on slack but here it is anyways -

Unfortunately, the client library and APIs are not well thought out. There is another method you have to call if you want to assign the issue.  https://github.com/pycontribs/jira/blob/develop/jira/client.py#L923, It looks like there are two APIs - 1. Create issue - https://developer.atlassian.com/jiradev/jira-apis/jira-rest-apis/jira-rest

[2016-05-08 00:39] jennyfountain commented on #480
Yeah! I will work on it! Thank you!

[2016-05-10 00:18] LindsayHill opened #495 "Use python-cloudflare library for Cloudflare pack?"
CloudFlare has published python-cloudflare, a wrapper for the Cloudflare API. https://blog.cloudflare.com/python-cloudflare/

Wonder if we should move towards using this for the cloudflare pack?

Thoughts @jjm ?

[2016-05-10 12:14] jjm commented on #495
Worth a short, happy for this to be assigned to me while I look at it.

[2016-06-07 18:37] manasdk opened #500 "Move pack linting etc out of st2contrib to make it shareable"
Not just the lint-configs but also Makefile + specific work scripts which add massive value. Specifically `https://github.com/StackStorm/st2contrib/tree/master/scripts` and `https://github.com/StackStorm/st2contrib/blob/master/Makefile` would be helpful in multiple repos.

/cc @Kami

[2016-06-07 18:38] Kami commented on #500
Yeah, i think there are some existing issues for it already.

In any case, depending on the priority, I can spend time on doing it this or next week.

[2016-06-07 19:29] jjm commented on #500
This would be great, it took some effort to find the required subset of local setup needed to make running pack tests functonal in our internal pack.

[2016-06-08 17:13] lakshmi-kannan opened #501 "Nagios handler doesn't post event to st2"
Reported by: linuxengg on slack

[2016-06-09 08:40] Kami commented on #500
Just a heads up - I decided I will move those scripts to st2sdk to begin with. This way users who wish to utilize this functionality just need to install st2sdk from PyPi.

Makefile itself is somewhat coupled to a specific directory layout, but I will see what I can do to make it usable outside of here (at the very least, I will document the scripts and targets).

[2016-06-09 15:43] manasdk commented on #500
@kami Just moving scripts out is a big win. Don't worry about refactoring the Makefile since that will more often than not be repo specific anyway.

[2016-06-10 08:46] Kami commented on #500
Alright, I have polished a bit and moved all the useful check and lint scripts to st2sdk repository and package - https://github.com/StackStorm/st2sdk

For information and examples on how to use those scripts, please refer to the README in that repo and Makefile in this one.

/cc @jjm @tonybaloney

[2016-06-10 08:46] #500 closed

[2016-06-10 19:37] codyaray opened #505 "Opening SFTP connection causing issues"
Discussed on Slack: https://stackstorm-community.slack.com/archives/community/p1465570980000803

tl;dr - I'm connecting from StackStorm to a Windows machine running cygwin sshd using `core.remote`. When accessing network resources with the correct permissions (username/password), we're getting an Access Denied through StackStorm but are able to access through Paramiko directly.

The test command i

[2016-06-10 19:53] Kami commented on #505
Thanks for the report.

I will look into it and make the necessary changes next week.

[2016-06-13 10:56] Kami commented on #505
Just noticed this was reported in st2contrib in st2 - it's a st2 runner issue.

In any case, not a big deal :)

[2016-06-13 13:50] gmajlis opened #506 "Feature request: AWS SES"
Hi

I am looking for an implementation with AWS SES so we can send mails using ses instead of core.sendmail.

Thanks

[2016-06-13 13:55] codyaray commented on #505
Whoops, must've had this repo open already. My bad.

Anyway, I'll update and test today.

[2016-06-13 14:08] Kami commented on #505
No problem and keep me posted :)

[2016-06-13 16:43] codyaray commented on #505
Ah, right, we can't test this until tomorrow since this will go into tonight's build. I just updated to the latest (1.5dev-94) and it doesn't have these changes yet. Will test tomorrow.

[2016-06-13 19:56] Kami commented on #505
No problem - I actually need to merge change into master before packages will be built.

I will add some regression tests tomorrow and then go ahead and merge it into master.

[2016-06-14 12:38] #505 closed

[2016-06-15 13:39] makaveli0129 opened #508 "Multiple Vcenter Servers"
Is it possible to add multiple Vcenter servers in the config.yaml?

[2016-06-15 14:50] paul-mulvihill commented on #508
@makaveli0129  at the moment it's not configured to accept multiple vcenters. Although it is in my list for the next revision of the pack. I need that feature as well.

[2016-06-17 17:55] codyaray commented on #505
Just wanted to say this looks good. Thanks @Kami

[2016-06-17 18:10] Kami commented on #505
@codyaray Great, thanks for confirming :)

[2016-06-30 08:44] paul-mulvihill commented on #508
@makaveli0129 almost available.
https://github.com/StackStorm/st2contrib/pull/513

[2016-06-30 12:20] makaveli0129 commented on #508
that's awesome! I will be updating as soon as it's available.

Thanks again

On Thu, Jun 30, 2016 at 4:44 AM, Paul Mulvihill <notifications@github.com>
wrote:

--
Sincerely,

Shawn H. Marks

[2016-07-03 02:52] zanhsieh opened #517 "[salt] local_test.ping, local_test.version can't remove "args""
Hi,

If I issue following command from slack:

`
!salt-local test.ping '*'
`
or
`
!salt-local test.ping '*'
`

It always return error:

But when I did the same thing from CLI:

`sh
st2 run salt.local module='test.ping' target='*'
`

ST2 won't return any error.

After investigation, I found 'args' has been automatically assigned '[]' (an empty list). The easy fix should be:

/opt/stackstorm/packs/s

[2016-07-18 14:02] paul-mulvihill commented on #508
@makaveli0129 we have a merge.. so you should be good to go. shout if any problems or questions.

[2016-07-18 14:30] Kami commented on #508
Resolved by #513.

Thanks again!

[2016-07-25 15:50] vaishalipavashe opened #525 "beautifulsoup, html5lib: module object has no attribute _base"
I have google pack installed  which fails to query with below error:

Traceback (most recent call last):
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 179, in <module>
    obj.run()
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 115, in run
    action = self._get_action_instance

[2016-07-25 19:11] #525 closed

[2016-08-02 22:54] LindsayHill opened #531 "CI checks and/or action registration should not allow invalid type"
If I create an action metadata file containing a section with an invalid parameter type, CI checks will pass, and I can register the action. It only fails when I attempt to use it.

Example YAML snippet:
[code]
This action can be registered, and will show up if I run `st2 run packname.action -h`, e.g.:
[code]
But if I attempt to use that action, it (correctly) fails with a 500 error:
[code]

I bel

[2016-08-11 18:38] vishnu81 opened #537 "Nagios handler posts to st2 but fails"
Had executed `python st2service_handler.py st2service_handler.yaml 123456 "Disk /var/log" WARNING 1 HARD 3 vm-vidr-004 --verbose` from nagios host.
st2 receives the event but fails to raise the action.
Heres the st2rulesengine.log snippet
[code]

[2016-08-11 18:43] samirsss commented on #537
Can we look at the rule that's been written up. Looks like that's what is creating the issue

[2016-08-11 18:50] vishnu81 commented on #537
Did you mean the nagios rule?
I used the default one from pack only...

[2016-08-11 19:00] samirsss commented on #537
Correct me if I am wrong: The rule you were trying to trigger is: nagios_service_proc.yaml

I think there issue that the action doesnt have a pack name. You might want to update it to something like pack.action. I think the action currently is just a sample: check_pgrep

Once you fix it, it should work. I tried looking up the actions that are part of the linux pack but check_pgrep isnt there.

[2016-08-11 19:02] DoriftoShoes commented on #537
These rules are a bit outdated.  Even then, they are merely here as a guide to the users to be able to create their own rules.  I would suggest taking them as a starting point to build rules based on your own Nagios checks.

[2016-08-11 19:05] vishnu81 commented on #537
Oh ok.
Heres one which i had edited.
This is not getting raised at all...

[code]

[2016-08-11 19:06] lakshmi-kannan commented on #537
@vishnu81 Sign up for our community and discuss there if you can
https://stackstorm.com/community-signup.

Also, did you setup chatops already?

[2016-08-11 19:08] vishnu81 commented on #537
I tried signing up there, the typeform kept asking for new team.

yup i did setup it, i have a working spark room.
Manual run of post_message action works.

[2016-08-11 19:13] lakshmi-kannan commented on #537
Use this to debug the rule issue https://docs.stackstorm.com/troubleshooting/rules.html.

I just signed up for community and I don't see the issue you're seeing. I'll check our automation logs. If you are trying to login to slack and it is asking for a team, use "stackstorm_community".

[2016-08-11 19:15] lakshmi-kannan commented on #537
[code]
So you are already invited. Please check your email.

[2016-08-11 19:21] vishnu81 commented on #537
i get the thumbsup icon and the screen stays there...

[2016-08-11 19:22] lakshmi-kannan commented on #537
Once you finish signing up in Typeform, you have to download the slack app and login with your username/password there. Typeform is just used for registration. Next time, please be specific and include screenshots.

[2016-08-11 19:31] vishnu81 commented on #537
oh,  so theres no way to login to stackstorm-community without installing slack on local machine?

[2016-08-11 19:32] lakshmi-kannan commented on #537
Is there a way to access spark channel without installing spark on a local machine? ;)

There is web UI for slack luckily https://slack.com/signin.

[2016-08-11 20:27] vishnu81 commented on #537
Thanks lakshmi, resolved it at slack...

[2016-08-11 20:27] #537 closed

[2016-08-16 22:03] lakshmi-kannan opened #542 "A sample rule in "email" pack would be helpful for people."

[2016-08-17 13:07] elitegoodguy commented on #542
Thanks to Iakshmi's help I was able to get it working.  Created PR for a sample of a simplified version of what I've implemented it for.  #544

[2016-08-17 16:08] LindsayHill commented on #531
Being addressed - see commentary in #532

[2016-08-17 16:08] #531 closed

[2016-08-17 18:14] Kami commented on #531
Fixed by https://github.com/StackStorm/st2/pull/2872 - thanks!

[2016-08-24 22:01] LindsayHill commented on #542
#544 merged - thanks again @elitegoodguy

[2016-08-24 22:01] #542 closed

[2016-09-14 23:18] jhartleyatbrocade opened #556 "st2 execution get: Add'l CRs printed during stdout result display, or add'l CRs stored w/stdout results."
Take note of the add'l carriage returns in the result stdout: It's either
a display error, or it's storing during execution:
(manually editing to disable forum's default markdown, but I assure you those extra lines in stdout were already there...)

[code]

Thanks.

[2016-09-15 05:20] Kami commented on #556
Thanks for the report. It could be a CLI display only thing.

You can try `st2 execution get <id> -j` to get JSON back or `st2 --debug execution get <id>` to see what response API actually returns.

[2016-09-15 16:41] codyaray opened #558 "Elasticsearch Pack Doesn't Support ES 2.4"
Doesn't look like the Elasticsearch pack supports ES 2.x.

[code]

When I tried upgrading the requirements.txt for `elasticsearch-curator` from 3.4.0 to 4.1.0 (latest), it looks like there have been some pretty large changes in the library's API.

[code]

Likely related to the so-called [Massive rewrite of Curator for 4.0](https://github.com/elastic/curator/commit/a077918bd02d1069418d9e106283dabb3

[2016-09-15 16:55] codyaray commented on #558
The `api` module was blown away and some of the classes migrated elsewhere. Some of these are easy to track down.

[code]

Haven't been able to find these though:

[code]

I'm sure there's more as well.

[2016-09-15 17:17] DoriftoShoes commented on #558
I'll dig in to this and get the pack updated.

[2016-09-20 13:32] codyaray commented on #558
Any update here @DoriftoShoes ?

[2016-10-10 22:50] pixelrebel opened #575 "Elasticsearch pack doesn't work with https endpoints"
I have elastic search behind nginx proxy with SSL and http_auth.  The following command doesn't work with my `https` endpoint.

[code]

It works over http on 9200, but not https on 443.  Looking at the traceback, it shows that it never tries https, so I'm assuming the use_ssl option is for shield?

[code]

Any ideas?  Is this a issue that should be posted to the elasticsearch python API?

[2016-10-10 23:44] pixelrebel commented on #575
There's [a simple fix](https://github.com/pixelrebel/st2contrib/blob/606c6d4c1fa38a79a6be9dbfd980fb8da66f25df/packs/elasticsearch/actions/lib/utils.py#L69) for this.  Changing from `host` to `hosts` parameter allows the st2 user to specify protocol, and it's backwards compatible with simple hostnames.  Now you can do this:
[code]

Let me know if you want a PR, or I can hold off until you update fo

[2016-10-11 15:43] lakshmi-kannan commented on #575
If the fix also works for 2.4, please open a PR.

[2016-10-18 16:14] lakshmi-kannan opened #585 "Pin pynos version in vdx pack's requirements.txt"
edonohue on #brocade:

as heads up I did fresh install of BWC and tried to install the VDX pack and there appears to be a bug in pycparser 2.15 that is preventing cryptography from building to meet pynos requirements.

pycparser 2.14 seems to work

[08:56]
I get "AssertionError: sorry, but this version only supports 100 named groups"

[08:57]
https://github.com/pyca/cryptography/issues/3187

lakst

[2016-10-18 16:57] #585 closed

[2016-10-20 23:54] lmarty opened #587 "Missing example config.yaml in most recent github pack"
no default config.yaml exists in the current github pack.  Making initial config difficult.  Removed during the version bump it appears.

[2016-10-21 05:47] LindsayHill commented on #587
It has been migrated to use the new pack configuration method - see here for more info https://stackstorm.com/2016/06/30/improved-pack-configuration-user-scoped-datastore-items-secure-secrets-store/

[2016-10-21 05:47] #587 closed

[2016-10-21 06:37] userlocalhost2000 opened #589 "[git] feature request - I want to specify multiple repository"
Thank you for creating git pack. It's so useful for me!

But now `git.GitCommitSensor` monitors only one repository which is specified in configuration of this pack.

If it could monitor multiple repositories and branches, it would be more useful.

Thank you.

[2016-10-21 08:08] Kami commented on #589
Hello,

This should be a relatively easy change - you should update configuration file so it takes a list of objects where each item contains URL and branch name. Then you need to update the code to handle multiple repos (shouldn't be hard as well).

[2016-10-21 08:55] userlocalhost2000 commented on #589
Hi Kami

Thank you for your reply.
You got it and I'll do it!

[2016-10-26 09:33] tanishige opened #597 "core.sendmail: Unable to handle non-ascii char in body or subject"
When I tried to run core.sendmail with non-ascii charactor, it was failed as the following.
I would like to use UTF-8 encoding instead of ascii.

ubuntu@bwc:/opt/stackstorm/packs/core/actions/send_mail$ st2 run core.sendmail body='testあ' subject='testあ' to='test@test'
.
id: 580879367c1d965306126891
status: failed
parameters:
body: "testあ"
subject: "testあ"
to: test@test
result:
error: '''ascii'' co

[2016-11-08 09:29] userlocalhost2000 commented on #589
This feature has been implemented and merged.
Thank you.

[2016-11-08 09:29] #589 closed

[2016-11-08 09:42] Kami commented on #589
Thanks again!

[2016-11-14 09:25] userlocalhost2000 opened #611 "[AWS] An import exception is corrueed just after installing pack"
Because of missing of `flask` package, the Sensor process of AWS exit.

Here is the snippets from the `st2sensorcontainer.log`.
https://gist.github.com/userlocalhost2000/a4dad5a9fce942f95bf58b4c4cf174eb

Thank you.

[2016-11-14 10:29] #611 closed

[2016-11-16 22:42] LindsayHill opened #615 "hpe-icsp pack - change to underscore"
Looks like the hpe-icsp pack is the only one left with `-` in the name and pack ref, not `_`. This won't pass the new validation ( [a-z0-9_] )

What do you want to do about it @jjm / @Kami / @paul-mulvihill ?

I could just go ahead and change it, but it will probably break some of your workflows...

[2016-11-17 14:36] paul-mulvihill commented on #615
Apologies I missed/forgot the talks about getting rid of the -. I'm happy to do a new PR in the next day or so to switch it over to a _.
I'm probably the only user of it anyway so i can tie it in with all my other dev work :)

[2016-11-17 15:28] LindsayHill commented on #615
Thanks @paul-mulvihill. Better if you do it since you're working with it. I didn't want to break your stuff without at least letting you know

[2016-11-18 12:57] paul-mulvihill commented on #615
Created https://github.com/StackStorm/st2contrib/pull/619 to sort this.

[2016-11-18 13:19] Kami commented on #615
Resolved by #619 - thanks!

[2016-11-18 13:19] #615 closed

[2016-11-18 19:31] #508 closed

[2016-11-18 19:32] LindsayHill commented on #476
Closing old issue - we now have docs on using a proxy - https://docs.stackstorm.com/reference/proxy.html

[2016-11-18 19:32] #476 closed

[2016-11-18 19:35] LindsayHill opened #621 "make configs-check fails when checking ALL packs"
Steps to reproduce:
1./ `export FORCE_CHECK_ALL_FILES=true`
2/ Run `make configs-check`

Error message:
[code]

[2016-11-19 10:35] userlocalhost2000 opened #623 "[AWS] Couldn't get result of Buckets in S3"
Hi,

The result of actions that return Bucket, e,g `aws.s3_get_bucket` and `aws.s3_get_all_buckets`, couldn't return proper value. They always return `None`.

I confirmed this behavior just only for the actions that return `Bucket` object of S3.
The actions relevant to EC2 return proper results.

Thank you.

[2016-11-19 10:47] userlocalhost2000 commented on #623
The reason of this problem is failure of serialization of the returned values.

I'll fix it :)

[2016-11-20 13:05] #623 closed

[2016-11-22 09:51] userlocalhost2000 opened #629 "[AWS] AWSSQSSensor doesn't refer to top-level authentication parameters in the configuration file."
Hi,

AWSSQSSensor may have following problems.

* It doesn't refer to the top-level credential parameters, only do them in `setup` directory which is remained for backword compatibility.
* ~~It refers to the configuration parameter of 'sqs_other.max_number_of_messages', but the default configuration doesn't have it~~.

[2016-11-22 10:07] userlocalhost2000 commented on #629
Sorry, the later was my misunderstanding.

[2016-11-22 17:44] voodemsanthosh opened #630 "Unable to deploy the newrelic pack in Stackstorm server"
Hey,

we are trying to clone the stackstorm newrelic pack with stackstorm server, and getting some issue to find the repo.

Here is the error log for deployment failures,

{
  "result": "None",
  "exit_code": 1,
  "stderr": "Traceback (most recent call last):\n  File \"/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py\", line 211, in <module>\n    obj.run(

[2016-11-22 17:48] Kami commented on #630
Just to clarify it - it looks like this is related to deploying / installing a pack from ChatOps.

For that to work, you need to configure config file for `packs` pack, see https://github.com/StackStorm/st2/blob/master/contrib/packs/config.yaml#L4 for example.

[2016-11-29 01:05] userlocalhost2000 commented on #629
This correction is merged.

Thank you!

[2016-11-29 01:05] #629 closed

[2016-12-09 22:43] ErikThoreson commented on #623
@userlocalhost after this PR it seems certain actions receive the following error "AttributeError: 'module' object has no attribute 'bucket'"

Were you able to get around this? It looks like a problem with boto 2.41.0 and higher

[2016-12-10 09:06] userlocalhost commented on #623
@ErikThoreson  Thank you for your report.

I could get buckets information normally.
[code]

And this is my environment of StackStorm.
[code]

When possible, cloud you please show me the action that occurs an exception and that stack-trace?

Thank you.

[2016-12-10 12:55] userlocalhost commented on #623
Hi, @ErikThoreson

I found a similar (perhaps same) problem that an `AttributeError` exception is occur when aws.s3_get_bucket is executed.
I create another issue on [stackfrom-aws](https://github.com/StackStorm-Exchange/stackstorm-aws).
https://github.com/StackStorm-Exchange/stackstorm-aws/issues/1

Thank you.

[2016-12-15 06:42] voodemsanthosh opened #638 "Unable to run the st2 run sensu.check_list"
Trying to run **st2 run sensu.check_list** from stackstorm and getting below error.

$ st2 run sensu.check_list
..
id: 585239533915ecbc20eb71ea
status: failed
parameters: None
result:
  exit_code: 1
  result: None
  stderr: "Traceback (most recent call last):
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/pytho

[2016-12-15 06:50] voodemsanthosh commented on #630
Could you please provide the document to how to configure the new relic alerts to stackstorm.

Example:
I have a server configured in newrelic and if it is utilize X% CPU newrelic will generate the alert.

I need to send the same newrelic alert to stackstorm.

Please provide the sets and document to integrate newrelic alerts with stackstorm.

Thank you in advance.

[2016-12-15 07:47] voodemsanthosh commented on #630
Running the newrelic_get_alert by providing app_name and getting below error,

Traceback (most recent call last):
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 211, in <module>
    obj.run()
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 126, in run
    output = action.run(**sel

[2016-12-15 07:49] voodemsanthosh opened #639 "newrelic_get_alert issue"
Hey,

Running the newrelic_get_alert by providing app_name and getting below error,

Traceback (most recent call last):
File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 211, in
obj.run()
File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 126, in run
output = action.run(**self._parameters)

[2016-12-15 15:23] LindsayHill commented on #638
Follow step 2 in the README file (https://github.com/StackStorm-Exchange/stackstorm-sensu):

The configuration file should be at `/opt/stackstorm/configs/sensu.yaml`

[2016-12-15 15:25] LindsayHill commented on #630
Closing this in favour of duplicate https://github.com/StackStorm/st2contrib/issues/639

[2016-12-15 15:25] #630 closed

[2016-12-15 15:37] LindsayHill commented on #639
I thought that NewRelic only offered a SaaS solution, and there should be any SSL issues? What have you got configured for api_url?

It sounds like you're running the action, but you probably want to configure the Sensor. Set up the sensor_config in `sensu.yaml`, and configure Newrelic to send webhook requests to the ST2 IP. That will give you triggers that you can then use in rules, to fire actio

[2017-01-11 17:09] voodemsanthosh commented on #639
we need to send the newrelic alerts to stackstorm by calling newrelic_get_alerts action. when I ran the action getting below error,
File "/opt/stackstorm/st2/lib/python2.7/site-packages/requests/adapters.py", line 497, in send
raise SSLError(e, request=request)
requests.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:765)

for now I need to send the newrelic

[2017-01-11 17:14] Kami commented on #639
Can you please gist the whole exception / error message (now it's not 100% obvious if they are using invalid cert - very unlikely / hostname mismatch because of a proxy / you don't have root CA certs on your system / similar).

If you are missing CA bundle, try installing `ca-certificates` package or similar depending on your distribution.

[2017-01-12 00:19] voodemsanthosh commented on #639
Please find the full stacktrace,

Traceback (most recent call last):
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 211, in <module>
    obj.run()
  File "/opt/stackstorm/st2/lib/python2.7/site-packages/st2actions/runners/python_action_wrapper.py", line 126, in run
    output = action.run(**self._parameters)
  File "/opt/stackstorm/packs/

[2017-02-16 20:17] aksverma opened #644 "Not able to capture events from icinga2"
After installing icinga2 pack from "https://github.com/StackStorm/st2contrib/tree/master/packs/icinga2" . I not able to connect to icinga2 and seeing below error in /var/log/st2/st2sensorcontainer.log file
`"Sensor "Icinga2StateChangeSensor" run method raised an exception: invalid arguments to setopt"`

Also posting logs for debugging sensor container -
[code]
Please advise ..

[2017-02-16 20:27] LindsayHill commented on #644
It looks like you've tried to debug the sensor container as a user without permissions to write to the log file. You probably launched it as yourself. It will need to run as either root or st2.

That's polluting the output here with this:
[code]
That's almost certainly irrelevant to your problem with `setopts`. Can you fix that, and then re-run the debug? Include the full error output.

Also: Have

[2017-02-17 00:27] aksverma commented on #644
yes I have configured the pack /opt/stackstorm/configs/icnga2.yaml.

I have fixed the above "Permission denied issue"

Please see the recent logs

(st2) root@stackstorm-reston-s2:/opt/stackstorm/packs/icinga2/sensors# st2sensorcontainer --config-file=/etc/st2/st2.conf --sensor-ref=icinga2.Icinga2StateChangeSensor
2017-02-16 20:59:52,064 DEBUG [-] Using config files: /etc/st2/st2.conf
2017-02-16 20

[2017-02-17 02:27] LindsayHill commented on #644
Couple of things:

1. This line should print out the URL, the user and the password:
[code]
It looks like you've masked the password - which is great. Did you also remove the hostname from that line? I would have expected something like `https://icingaserver.com:5665/v1/events?...`
If not, check the `api_url` value in your `icinga2.yaml` file.

2. You referred to editing the `/opt/stackstorm/confi

[2017-02-18 01:19] aksverma commented on #644
Hello LindsayHill,

yes filename icnga2.yaml is typo and I have removed hostname,user name password for security reasons.
I have tried executing above code snippet on my setup which gives 'None' output.
I am looking at the history while installing this particular icinga2 pack it originally bailed out during installing dependencies.

This dependencies issue has been resolved by installing these two

[2017-02-18 19:38] LindsayHill commented on #644
I'm not sure how you got 'None' output - when I ran it I had the output shown above - i.e. no failures or errors, no output displayed. Not 'None'.

Can you provide (A) the OS you're using and (B) the complete output from when you tried that code snippet, with both a simple password, and your actual password? (Mask out the password for here of course).

From a casual look through the commit history

[2017-02-20 06:53] aksverma commented on #644
Please see the answers to below -
(A)Can you provide the OS you're using :
(icinga2) ubuntu@stackstorm-test:~$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.4 LTS
Release:	14.04
Codename:	trusty
(B)The result below gives no error/failure but no output displayed that's why it was showing 'None'
======
Python 2.7.6 (default, Oct 26 2016, 20:30:19)
[GCC

[2017-03-16 03:45] LindsayHill commented on #644
OK, sorry it's taken so long, but I've been able to reproduce it, and I've got a workaround.

The problem is related to unicode handling. There have been improvements to ST2 over the last ~6 months to improve unicode handling - e.g. https://github.com/StackStorm/st2/pull/3116

It looks like those config parameters are read as Unicode objects. But see this: http://pycurl.io/docs/latest/unicode.html

[2017-03-16 17:29] LindsayHill commented on #644
Merged https://github.com/StackStorm-Exchange/stackstorm-icinga2/issues/1, which works around the problem.

Longer-term fix is to use requests library - see https://github.com/StackStorm-Exchange/stackstorm-icinga2/issues/2

[2017-03-16 17:29] #644 closed

[2017-03-24 01:45] #621 closed

[2017-03-24 19:39] aksverma commented on #644
Thank you very much for the update Lindsay Hill..

On Thu, Mar 16, 2017 at 10:29 AM, Lindsay Hill <notifications@github.com>
wrote:

--
Regards:-
Akshaya Verma

[2017-07-21 03:33] #127 closed

[2017-07-21 03:34] #132 closed

[2017-07-21 03:34] #394 closed

[2017-07-21 03:36] #638 closed

[2017-07-21 03:36] LindsayHill commented on #597
Recent st2 versions include Unicode fixes, so this should no longer be a problem.

[2017-07-21 03:36] #597 closed

[2017-07-21 03:43] LindsayHill commented on #639
Ran some tests with current pack, not seeing any SSL certificate errors - suspect something site-local here, possibly related to MITM proxies, since api.newrelic.com does have a valid cert.

[2017-07-21 03:43] #639 closed

[2017-07-23 03:03] #501 closed

[2017-07-23 04:36] #495 closed

[2017-07-23 04:53] LindsayHill commented on #556
Repeated the same tests with st2 2.3.1, and I see this:

[code]

So it looks OK in the JSON & debug output, it seems to just be a CLI display thing.

I'll open an issue in ST2 repo for this.

[2017-07-23 04:53] #556 closed

[2017-07-23 04:58] LindsayHill commented on #387
Lots of changes to AWS pack over last 18 months, don't think this is relevant any more.

[2017-07-23 04:58] #387 closed

[2017-07-23 04:58] LindsayHill commented on #388
Lots of changes to AWS pack over last 18 months, don't think this is relevant any more.

[2017-07-23 04:58] #388 closed

[2017-07-23 04:58] LindsayHill commented on #385
Lots of changes to AWS pack over last 18 months, don't think this is relevant any more.

[2017-07-23 04:58] #385 closed

[2017-07-23 05:00] LindsayHill commented on #381
Tracking this against new repo location https://github.com/StackStorm-Exchange/stackstorm-aws/issues/40

[2017-07-23 05:00] #381 closed

[2017-07-23 05:01] LindsayHill commented on #506
ses.send_email is now available in AWS pack

[2017-07-23 05:01] #506 closed

[2017-07-24 12:36] sibirajal opened #647 "Stackstorm rate-limiting feature for workflow and host level"
Hello Team,

We have configured multiple rules/workflows/actions for our infrastructure monitoring alerts to perform the auto remediation with ST2.

The workflows are created for different alerts and we would like to have some rate limiting at workflow level and individual host level to avoid the continues remediation. If we have this feature in Stackstorm will help us to avoid masking of the real

[2017-07-25 02:44] LindsayHill commented on #647
st2contrib is a deprecated repo, that was used for integration packs. I think you want your issue against the core st2 repo. I have created https://github.com/StackStorm/st2/issues/3607 for that. You should follow that issue.

[2017-07-25 02:44] #647 closed

[2017-07-25 06:38] #517 closed

[2017-07-25 08:13] LindsayHill commented on #558
Will track this against https://github.com/StackStorm-Exchange/stackstorm-elasticsearch/issues/5

[2017-07-25 08:13] #558 closed

[2017-07-25 08:21] LindsayHill commented on #575
Addressing this here: https://github.com/StackStorm-Exchange/stackstorm-elasticsearch/pull/6

Still need proper fix to move to 5.x.

[2017-07-25 08:21] #575 closed

[2017-07-25 08:26] LindsayHill commented on #482
Looks like this was merged a while back

[2017-07-25 08:26] #482 closed

[2017-07-25 08:32] LindsayHill commented on #330
Track here: https://github.com/StackStorm-Exchange/stackstorm-ansible/issues/16

[2017-07-25 08:32] #330 closed

[2017-07-25 08:52] LindsayHill commented on #480
Track here: https://github.com/StackStorm-Exchange/stackstorm-jira/issues/8

[2017-07-25 08:52] #480 closed

[2017-07-25 09:01] #363 closed

[2017-08-29 21:23] LindsayHill opened #649 "Update all pack READMEs to refer to StackStorm Exchange"
Some people are still finding their way to this repo.

To help reduce the number of people doing this, we should update all the READMEs. Move the old README to README.old or something similar, and put a new README in each pack directory, pointing to the new pack-specific repo location.

Also update the main frontpage README to only have the top section ("we are moving"), and remove the content bel